<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../main.js"></script>
</head>
<body>

<form method="post" action="/user/">
    <input type="email" name="username" placeholder="email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="text" name="firstname" placeholder="first name"><br>
    <input type="text" name="lastname" placeholder="last name"><br>
    <input type="submit" name="submit" onclick="var e=this;setTimeout(function(){e.disabled=true;},0);return true;">
</form>

</body>
</html>